# Data Analyst Test

## Import required libraries

In [2]:
import pandas as pd
import sqlite3

## SQLite database connection

In [3]:
conn = sqlite3.connect('w3schools.db')

## Task 1: What is the most expensive product?

In [9]:
product_query = "SELECT * FROM products ORDER BY price DESC LIMIT 1"
product_df = pd.read_sql_query(product_query, conn)
print("Most expensive product:")
print(product_df[['productname', 'price']])

Most expensive product:
     productname  price
0  Cate de Blaye  263.5

## Task 2: What is the average product price?

In [10]:
product_price_query = "SELECT AVG(price) as averageprice FROM products"
product_price_df = pd.read_sql_query(product_price_query, conn)
average_product_price = product_price_df['averageprice'].values[0]
print("Average product price:", average_product_price)

Average product price: 28.866363636363637

## Task 3: List of customers whose name starts with 'B'

In [11]:
customers_query = "SELECT * FROM Customers WHERE CustomerName LIKE 'B%'"
customers_df = pd.read_sql_query(customers_query, conn)
print("Customers whose name starts with 'B':")
print(customers_df)

Customers whose name starts with 'B':
   customerid               customername         contactname  \
0           5         Berglunds snabbkap  Christina Berglund
1           6    Blauer See Delikatessen          Hanna Moos
2           7       Blondel pare et fils  Fradarique Citeaux
3           8  Balido Comidas preparadas       Martan Sommer
4           9                   Bon app'   Laurence Lebihans
5          10     Bottom-Dollar Marketse   Elizabeth Lincoln
6          11              B's Beverages   Victoria Ashworth

                address        city postalcode  country
0        Berguvsvagen 8       Lulea   S-958 22   Sweden
1        Forsterstr. 57    Mannheim      68306  Germany
2      24, place Klaber  Strasbourg      67000   France
3        C/ Araquil, 67      Madrid      28023    Spain
4  12, rue des Bouchers   Marseille      13008   France
5    23 Tsawassen Blvd.   Tsawassen    T2F 8M4   Canada
6     Fauntleroy Circus      London    EC2 5NT       UK

## Task 4: Number of products by category and supplier, sorted by the number of products

In [12]:
product_counts_query = """
    SELECT c.categoryname, s.suppliername, COUNT(p.productid) AS NumberOfProducts
    FROM products p
    JOIN categories c ON p.categoryid = c.categoryid
    JOIN suppliers s ON p.supplierid = s.supplierid
    GROUP BY c.categoryname, s.suppliername
    ORDER BY NumberOfProducts DESC
"""
product_counts_df = pd.read_sql_query(product_counts_query, conn)
print("Number of products by category and supplier:")
print(product_counts_df)

Number of products by category and supplier:
      categoryname                            suppliername  NumberOfProducts
0       Condiments              New Orleans Cajun Delights                 4
1      Confections                Specialty Biscuits, Ltd.                 4
2        Beverages                       Bigfoot Breweries                 3
3      Confections             Heli Saawaren GmbH & Co. KG                 3
4   Dairy Products                 Formaggi Fortini s.r.l.                 3
5   Dairy Products                         Norske Meierier                 3
6          Seafood                       Svensk Sjafada AB                 3
7        Beverages              Aux joyeux ecclasiastiques                 2
8        Beverages                           Exotic Liquid                 2
9       Condiments               Grandma Kelly's Homestead                 2
10     Confections                               Karkki Oy                 2
11     Confections                     Zaanse Snoepfabriek                 2
12  Dairy Products      Cooperativa de Quesos 'Las Cabras'                 2
13  Dairy Products                            Gai paturage                 2
14  Grains/Cereals                        PB Knackebrad AB                 2
15  Grains/Cereals                    Pasta Buttini s.r.l.                 2
16    Meat/Poultry                               Ma Maison                 2
17         Seafood                              Lyngbysild                 2
18         Seafood             New England Seafood Cannery                 2
19       Beverages                               Karkki Oy                 1
20       Beverages                            Leka Trading                 1
21       Beverages                           Pavlova, Ltd.                 1
22       Beverages       Plutzer Lebensmittelgroamarkte AG                 1
23       Beverages               Refrescos Americanas LTDA                 1
24      Condiments                           Exotic Liquid                 1
25      Condiments                        Forats d'arables                 1
26      Condiments                            Leka Trading                 1
27      Condiments                                Mayumi's                 1
28      Condiments                           Pavlova, Ltd.                 1
29      Condiments       Plutzer Lebensmittelgroamarkte AG                 1
30     Confections                        Forats d'arables                 1
31     Confections                           Pavlova, Ltd.                 1
32  Grains/Cereals                             G'day, Mate                 1
33  Grains/Cereals                            Leka Trading                 1
34  Grains/Cereals       Plutzer Lebensmittelgroamarkte AG                 1
35    Meat/Poultry                             G'day, Mate                 1
36    Meat/Poultry                           Pavlova, Ltd.                 1
37    Meat/Poultry       Plutzer Lebensmittelgroamarkte AG                 1
38    Meat/Poultry                           Tokyo Traders                 1
39         Produce                             G'day, Mate                 1
40         Produce               Grandma Kelly's Homestead                 1
41         Produce                                Mayumi's                 1
42         Produce       Plutzer Lebensmittelgroamarkte AG                 1
43         Produce                           Tokyo Traders                 1
44         Seafood                      Escargots Nouveaux                 1
45         Seafood                                Mayumi's                 1
46         Seafood  Nord-Ost-Fisch Handelsgesellschaft mbH                 1
47         Seafood                           Pavlova, Ltd.                 1
48         Seafood                           Tokyo Traders                 1

## Task 5: List of customers who made more than one order

In [13]:
customers_multiple_orders_query = """
    SELECT c.customerid, c.customername, COUNT(o.orderid) AS OrderCount
    FROM customers c
    JOIN orders o ON c.customerid = o.customerid
    GROUP BY c.customerid, c.customername
    HAVING OrderCount > 1
    ORDER BY OrderCount DESC;
"""
customers_multiple_orders_df = pd.read_sql_query(customers_multiple_orders_query, conn)
print("Customers who made more than one order:")
print(customers_multiple_orders_df)

Customers who made more than one order:
    customerid                    customername  OrderCount
0           20                    Ernst Handel          10
1           63                      QUICK-Stop           7
2           65      Rattlesnake Canyon Grocery           7
3           87                  Wartian Herkku           7
4           37    Hungry Owl All-Night Grocers           6
5           75           Split Rail Beer & Ale           6
6           41                La maison d'Asie           5
7           46               LILA-Supermercado           5
8           51                  Mare Paillarde           5
9            7            Blondel pare et fils           4
10          10          Bottom-Dollar Marketse           4
11          24                  Folk och fa HB           4
12          25                  Frankenversand           4
13          55          Old World Delicatessen           4
14          61                     Que Delacia           4
15          71              Save-a-lot Markets           4
16          80             Tortuga Restaurante           4
17          86               Die Wandernde Kuh           4
18           5              Berglunds snabbkap           3
19           9                        Bon app'           3
20          21              Familia Arquibaldo           3
21          36      Hungry Coyote Import Store           3
22          38                  Island Trading           3
23          44             Lehmanns Marktstand           3
24          49    Magazzini Alimentari Riuniti           3
25          59                Piccolo und mehr           3
26          60         Princesa Isabel Vinhoss           3
27          66              Reggiani Caseifici           3
28          69                Romero y tomillo           3
29          72              Seven Seas Imports           3
30           4                 Around the Horn           2
31          14               Chop-suey Chinese           2
32          17       Drachenblut Delikatessend           2
33          19              Eastern Connection           2
34          28  Furia Bacalhau e Frutos do Mar           2
35          29          Galeraa del gastranomo           2
36          34                   Hanari Carnes           2
37          35                HILARIaN-Abastos           2
38          39                 Kaniglich Essen           2
39          48        Lonesome Pine Restaurant           2
40          58       Pericles Comidas clasicas           2
41          62                   Queen Cozinha           2
42          67              Ricardo Adocicados           2
43          68              Richter Supermarkt           2
44          73                   Simons bistro           2
45          76                Suprames dalices           2
46          81          Tradiaao Hipermercados           2
47          83                    Vaffeljernet           2
48          84            Victuailles en stock           2
49          85       Vins et alcools Chevalier           2
50          88          Wellington Importadora           2
51          89            White Clover Markets           2

## Task 6: List of customers who did not order anything

In [14]:
customers_no_orders_query = """
    SELECT c.customername, c.country FROM customers c
    LEFT JOIN orders o ON c.customerid = o.customerid
    WHERE o.customerid IS NULL;
"""
customers_no_orders_df = pd.read_sql_query(customers_no_orders_query, conn)
print("Customers who did not order anything:")
print(customers_no_orders_df)

Customers who did not order anything:
                            customername    country
0                    Alfreds Futterkiste    Germany
1                Blauer See Delikatessen    Germany
2             Cactus Comidas para llevar  Argentina
3   FISSA Fabrica Inter. Salchichas S.A.      Spain
4                    France restauration     France
5                Great Lakes Food Market        USA
6                   La corne d'abondance     France
7          Laughing Bacchus Wine Cellars     Canada
8                   Lazy K Kountry Store        USA
9                      Let's Stop N Shop        USA
10                          Maison Dewey    Belgium
11                           North/South         UK
12                     Paris spacialitas     France
13                         Rancho grande  Argentina
14                  Spacialitas du monde     France
15                       The Cracker Box        USA
16     Trail's Head Gourmet Provisioners        USA

## Close the database connection

In [15]:
conn.close()